@import "tailwindcss";
@plugin 'tailwindcss-animate';
/* @tailwind variants; */

:root {
  /* Base Colors */
  --default: rgba(43, 43, 43, 1);
  --background: rgba(233, 222, 200, 1);
  --secondary: rgba(61, 61, 61, 1);
  --primary: rgba(72, 143, 102, 1);
  --accent: rgba(237, 245, 255, 1);
  --forms: rgba(61, 61, 61, 0.44);
  --error: rgba(207, 111, 111, 1);
  --success: rgba(38, 223, 115, 1);
  --card: rgba(33, 37, 51, 1);

  /* Dark customize */
  --default-dark: rgba(236, 236, 236, 1);
  --background-dark: rgba(17, 21, 31, 1);
  --primary-dark: rgba(111, 207, 151, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-outline-radius: unset;
  outline: none;
  color: inherit;
  scrollbar-color: rgba(93, 93, 255, 0.9) #7d8784 !important;
  scrollbar-width: thin !important;
  font-family: Verdana, Geneva, Tahoma, "arial", "Times New Roman", tahoma;
}

*::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  background: #7d8784;
  border-radius: 5px;
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 248, 0.9);
  border-radius: 5px;
  opacity: 0.9;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 93, 255, 0.9);
  opacity: 0.5;
}

/* storybook override */
.css-k7lbue {
  height: 100dvh !important;
  overflow-y: scroll !important;
}

@layer base {
  html {
    @apply w-full;
    @apply h-full;
  }

  body {
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
    @apply text-sm;
    overflow: hidden;
  }

  #root {
    @apply w-full;
    @apply h-full;
  }

  /* width */
  body::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    /*box-shadow: inset 0 0 5px grey;*/
    opacity: 0.5;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: rgba(255, 93, 223, 0.2);
    border-radius: 5px;
  }

  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 41, 41, 0.5);
  }
}

@layer components {
  @keyframes loader {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(0.7);
    }
    100% {
      transform: scaleX(1);
    }
  }
}

@layer utilities {
  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  /* Chrome Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* width */
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  /* Track */
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    /*box-shadow: inset 0 0 5px grey;*/
    opacity: 0.5;
  }

  /* Handle */
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(161, 161, 255, 0.5);
    border-radius: 5px;
    opacity: 0.5;
  }
}
